<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
//        id: 'location.href', // 可选。默认为 location.href
        owner: 'wuxinshui',
        repo: 'http://wuxinshui.github.io/',
        oauth: {
            client_id: '8c0ef795c6df7a4175ad',
            client_secret: '8f24ee4fa5e6d763961e94053182be8e46bd30f4',
        },
    })
    gitment.render('container')
</script>